<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Song</title>
</head>

<body>
    <h1>Add New Song</h1>
    <label>Group: <input type="text" id="group" /></label><br />
    <label>Song: <input type="text" id="song" /></label><br />
    <button id="sendRequest">Add Song</button>

    <script>
        document.getElementById('sendRequest').addEventListener('click', function () {
            // Получаем значения из полей ввода
            const songData = {
                "group_name": document.getElementById('group').value,
                "song_name": document.getElementById('song').value
            };

            // Отправка POST-запроса
            fetch('http://localhost:8080/songs/add_song/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(songData)
            })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 400) {
                        throw new Error('Group and Song fields cannot be empty');
                    }
                    if (response.status === 409) {
                        throw new Error('This song already exists');
                    }
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                alert('Song added successfully!');
            })
            .catch(error => {
                console.error('Error:', error);
                alert(`Error adding song: ${error.message}`);
            });

        });
    </script>
</body>

</html>