<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs List</title>
</head>

<body>
    <h1>List of Songs</h1>

    <form method="GET" action="/songs/">
        <label for="group">Group Name:</label>
        <input type="text" id="group" name="group" value="{{.FilterGroup}}">
    
        <label for="song">Song Name:</label>
        <input type="text" id="song" name="song" value="{{.FilterSong}}">
    
        <label for="releaseDate">Release Date:</label>
        <input type="date" id="releaseDate" name="releaseDate" value="{{.FilterReleaseDate}}">
    
        <button type="submit">Filter</button>
    </form>
    
    {{ if .Songs }}
    <ul>
        {{ range .Songs }}
        <li>
            <strong>{{ .GroupName }}</strong> - 
            <a href="/groups/{{ .GroupName }}/songs/{{ .SongName }}?verse=1">{{ .SongName }}</a> 
            (Released: {{ .ReleaseDate }})
            <a href="{{ .Link }}" target="_blank"> Link on Youtube</a>
        </li>
        {{ end }}
    </ul>

    <div>
        {{ if .HasPrevPage }}
        <a href="/songs?page={{ .CurrentPage | minus 1 }}">Previous</a>
        {{ end }}

        Page {{ .CurrentPage }}

        {{ if .HasNextPage }}
        <a href="/songs?page={{ .CurrentPage | add 1 }}">Next</a>
        {{ end }}
    </div>
    {{ else }}
    <p>No songs available.</p>
    {{ end }}
    
</body>
</html>
